/* 
    Document   : errors
    Created on : Dec 17, 2012, 11:37:39 AM
    Author     : dmitry
    Description:
        Purpose of the stylesheet follows.
*/

.error { 
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 15px;
    vertical-align: baseline;
}

